@page "/EditLesson"
@using EffizyMusicSystem.Models
@inject EffizyMusicSystem.Services.IEffizyMusicApplicationService EffizyService
@inject NavigationManager NavService
<h3>EditLesson</h3>

@code {

}
