@page "/module/edit/{moduleId:int}"
@using EffizyMusicSystem.Models
@inject EffizyMusicSystem.Services.EffizyMusicApplicationService EffizyService
@inject NavigationManager NavigationManager
<h3>Edit Module</h3>
<hr />
<EditForm Model="@model" OnValidSubmit="UpdateModule" FormName="editModule">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label class="form-label">Module Title</label>
        <div class="col-md-4">
            <InputText class="form-control" @bind-Value="model.Title" />
        </div>
        <ValidationMessage For="@(() => model.Title)" />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
        <a class="btn btn-light" href="/modules">
            Cancel
        </a> 
    </div>
</EditForm>

@code {
    [Parameter]
    public int moduleId { get; set; }

    [SupplyParameterFromForm]
    protected EffizyMusicSystem.Models.Module model { get; set; }

    protected override void OnInitialized() => model ??= new();

    protected override async Task OnParametersSetAsync()
    {
        if (model.ModuleID == 0)
        {
            model = EffizyService.GetModule(moduleId);
        }
    }

    protected async Task UpdateModule()
    {
        if (!string.IsNullOrEmpty(model.Title))
        {
            EffizyService.UpdateModule(model);
            Cancel();
        }
    }

     public void Cancel()
     {
        NavigationManager.NavigateTo("/modules");
     }
}
