@page "/"

<PageTitle>Home</PageTitle>

<div class="text-center">
    <h1>Hello, All!</h1>
    <h4>Welcome to Efizzy Music Website</h4>
</div>


<div class="d-flex justify-content-around">
    <a class="btn btn-success text-light" asp-page="#"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>
    <a class="btn btn-primary text-light" href="RegistrationForm"><i class="fa fa-user" aria-hidden="true"></i> Register</a>
</div>
