@page "/modules"

@using EffizyMusicSystem.DAL
@using EffizyMusicSystem.Models
@inject EffizyMusicSystem.Services.EffizyMusicApplicationService EffizyService
<h3>Modules</h3>

<br />
@if (moduleList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped align-middle table-bordered">
        <thead class="table-success">
            <tr>
               @*  <th>ID</th> *@
                <th>Module Name</th>
                @* <th>Description</th> *@
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var module in moduleList)
            {
                <tr>
                    @* <td>@module.ModuleID</td> *@
                    <td>@module.Title</td>
                    @* <td>@module.Description</td> *@
                    <td>
                        
                        <a href='/module/edit/@module.ModuleID' class="btn btn-primary" role="button">
                            Edit
                        </a>
                        <a href='/module/delete/@module.ModuleID' class="btn btn-warning" role="button">
                            Delete
                        </a>
                        <a href='/quizes/@module.ModuleID' class="btn btn-outline-dark" role="button">
                            Quizes
                        </a>
                        <a href='/module/lessons/@module.ModuleID' class="btn btn-outline-dark" role="button">
                            Lessons
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@code {
    protected List<Module> moduleList = new();
    //protected List<User> searchUserData = new();
    //protected Module module = new();
    //protected string SearchString { get; set; } = string.Empty;
    protected override async Task OnInitializedAsync()
    {
        moduleList = await EffizyService.GetModules();
        //await GetModules();
    }

    // protected async Task GetModules()
    // {
    //     string apiUrl = "https://localhost:7164/api/Modules/";
    //     moduleList = await Http.GetFromJsonAsync<List<Module>>(apiUrl);
    // }
}