@page "/module/lessons/{moduleId:int}"
@using EffizyMusicSystem.Models
@inject EffizyMusicSystem.Services.EffizyMusicApplicationService EffizyService
@inject NavigationManager NavService
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage ProtectedSessionStore
@inject NavigationManager NavigationManager

@if (LessonList == null)
{
    <p class="text-center"><em>Loading...</em></p>
}

@if (LessonList != null && LessonList.Count == 0)
{
    <div class="alert alert-warning" role="alert">
        No lesson found.
    </div>
}

<h1>@(module != null ? module.Title : string.Empty)</h1>
<h5>Learn how to do things faster and better</h5>
<br />
<h5>
    Create a compelling summary of your course content and the key benefits for subscribers.
</h5>
<br />
<div class="progress">
    <div class="progress-bar progress-bar-striped" role="progressbar" style="width: @percentage%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<div style="float: left">Not started</div>
<div style="float: right">Completed</div>
<div style="margin: 0 auto; width: 100px;">In Progress</div>
<hr />

<h3>Lessons List</h3>
<table class="table table-striped align-middle table-bordered">
    <thead class="table-success">
        <tr>
            <th></th>
            <th>Lesson Title</th>
            <th>Lesson Mode</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var lesson in LessonList)
        {
            <tr>
                <td>
                    @if (lesson.LessonContent != null)
                    {
                        <video controls>
                            <source src="data:video/mp4;base64,@(Convert.ToBase64String(lesson.LessonContent))" type="video/mp4" />
                            Your browser does not support the video tag.
                        </video>
                    }
                    else
                    {
                        <p>No video available.</p>
                    }
                </td>
                <td>@lesson.Title</td>
                <td>@lesson.LessonMode</td>
                
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public int moduleId { get; set; }

    public List<EffizyMusicSystem.Models.Lesson> LessonList { get; set; } = new();
    public EffizyMusicSystem.Models.Module module = new EffizyMusicSystem.Models.Module();

    int percentage = 0;

    protected override async Task OnInitializedAsync()
    {
        bool isLogin = await IsUserLogin();
        if(!isLogin)
        {
            //Redirect to specific page.
            NavigationManager.NavigateTo("/loginForm", true);
            return;
        }

        LessonList = await EffizyService.GetModuleLessons(moduleId);

        module = EffizyService.GetModule(moduleId);

        //Below code is to show progess bar percentage.
        var userId = await ProtectedSessionStore.GetAsync<int>("UserID");

        int loginUserId = userId.Value;
        //If user has record in ViewLesson table then it means he has started the lessons and percentage will be in progress, i.e 50%
        var viewLessons = await EffizyService.GetUserLessons(loginUserId);
        if (viewLessons != null && viewLessons.Count > 0)
        {
            percentage = 50;

            //if user has done all quizzes, then progress will be completed.
            var quizes = EffizyService.GetQuizes();
            if (quizes != null && quizes.Count > 0)
            {
                percentage = 100;
                foreach (var quiz in quizes)
                {
                    //if user has attempted the quiz, then QuizResult table should have record for it.
                    var quizResult = EffizyService.GetQuizeResult(quiz.Id, loginUserId);
                    if (quizResult == null || quizResult.Count == 0)
                    {
                        percentage = 50;
                        break;
                    }
                }
            }
        }
    }

    protected async Task<bool> IsUserLogin()
    {
        var email = await ProtectedSessionStore.GetAsync<String>("Email");
        if (email.Value != null)
        {
            return true;
        }
        else
        {
            return false;
        }
    }
}
