@page "/course/"
<h3>Courses</h3>
<hr />
<div class="col-md-12">
    <a href='/course/add/' class="btn btn-primary" role="button" style="float:right;">
        <i class="fas fa-user-plus"></i>
        ADD COURSE
    </a>
</div>


@code {

}