@using EffizyMusicSystem.Utils
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage ProtectedSessionStore
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">

        <a href="/">
            <img src="logo.png" alt="EffizyMusicWebApp Logo" class="navbar-logo">
        </a>
    </div>
</div>


<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">

            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        @if (User.UserID != 0)

        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="profile">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Profile
                </NavLink>
            </div>
            @if (User.UserTypeID == Constants.UserType_Student)
            {
                        <div class="nav-item px-3">

                    <NavLink class="nav-link" href="/StudentCourse/StudentCourses">
                        <span class="bi bi bi-award-fill-nav-menu" aria-hidden="true"></span> Access Courses
                    </NavLink>
                </div>
                <div class="nav-item px-3">

                    <NavLink class="nav-link" href="RateInstructor">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Rate An Instructor
                    </NavLink>
                </div>
                <div class="nav-item px-3">

                    <NavLink class="nav-link" href="paymenthistory">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Payment History
                    </NavLink>
                </div>
            }
            @if (User.UserTypeID == Constants.UserType_Administrator)
            {
                <div class="nav-item px-3">

                    <NavLink class="nav-link" href="paymenthistory">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Payment History
                    </NavLink>
                </div>
                <div class="nav-item px-3">

                    <NavLink class="nav-link" href="/Subscription/ViewSubscriptions">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Subscriptions
                    </NavLink>
                </div>
            }
            @if (User.UserTypeID == Constants.UserType_Instructor || User.UserTypeID == Constants.UserType_Administrator)
            {
                <div class="nav-item px-3">

                    <NavLink class="nav-link" href="courses">
                        <span class="bi bi-backpack-fill-nav-menu" aria-hidden="true"></span> Courses
                    </NavLink>
                </div>
                @*        <div class="nav-item px-3">

        <NavLink class="nav-link" href="modules">
        <span class="bi bi-upload" aria-hidden="true"></span> Modules
        </NavLink>
        </div>
        <div class="nav-item px-3">

        <NavLink class="nav-link" href="ViewLesson">
        <span class="bi bi-upload" aria-hidden="true"></span>Lessons
        </NavLink>
        </div> *@
            }
            <div class="nav-item px-3">

                <NavLink class="nav-link" href="/feedback">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Feedback
                </NavLink>
            </div>
        }
    </nav>
</div>
@code {
    private bool collapseMenu = true;
    private bool expandSubMenu;
    public User User = new();

    private string NavMenuCssClass => collapseMenu ? "collapse" : null;

    protected override async Task OnInitializedAsync()
    {
        User = ((await ProtectedSessionStore.GetAsync<User>("User")).Value ?? new User());
    }

    private void ToggleNavMenu()
    {
        collapseMenu = !collapseMenu;
    }

}

