<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item @((CurrentPage == 1) ? "disabled" : "")">
            <button class="page-link" @onclick="PreviousPage">Previous</button>
        </li>
        @for (int i = 1; i <= TotalPages; i++)
        {
            var pageNumber = i; // Capture the current value of i
            <li class="page-item @(i == CurrentPage ? "active" : "")">
                <button class="page-link" @onclick="(() => GoToPage(pageNumber))">@i</button>
            </li>
        }
        <li class="page-item @((CurrentPage == TotalPages) ? "disabled" : "")">
            <button class="page-link" @onclick="NextPage">Next</button>
        </li>
    </ul>
</nav>
@code{
    [Parameter]
    public int CurrentPage { get; set; }

    [Parameter]
    public int TotalPages { get; set; }

    [Parameter]
    public EventCallback<int> OnPageChange{get;set;}

    private void PreviousPage()
    {
        if (CurrentPage > 1)
        {
            CurrentPage--;
            OnPageChange.InvokeAsync(CurrentPage);
        }
    }
    private void NextPage()
    {
        if (CurrentPage < TotalPages)
        {
            CurrentPage++;
            OnPageChange.InvokeAsync(CurrentPage);
        }
    }

    private void GoToPage(int page)
    {
        if (page >= 1 && page <= TotalPages)
        {
            CurrentPage = page;
            OnPageChange.InvokeAsync(CurrentPage);
        }
    }
}