@page "/module/delete/{moduleId:int}"
@using EffizyMusicSystem.Models
@inject NavigationManager NavigationManager
@inject EffizyMusicSystem.Services.EffizyMusicApplicationService EffizyService
<h3>Delete Module</h3>
<hr />
<EditForm Model="@model" OnValidSubmit="RemoveModule" FormName="delmodule">
<div class="form-group">
        <h5 style="color:red">Do you want to delete this moduleId? It will delete related Quizes (Questions, choices and answer) and all other related records!</h5>
    <hr />
    <table class="table">
        <tbody>
            <tr>
                <td><b>Module Title:</b> @model.Title</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="form-group">
    <input type="submit" value="Delete" class="btn btn-danger" />
        <a class="btn btn-light" href="/courses">
            Cancel
        </a>
</div>
</EditForm>
@code {
    [Parameter]
    public int moduleId { get; set; }

    EffizyMusicSystem.Models.Module model = new EffizyMusicSystem.Models.Module();

    protected override async Task OnInitializedAsync()
    {
        
        model = EffizyService.GetModule(moduleId); 
    }

    protected async Task RemoveModule()
    {
        EffizyService.DeleteModule(moduleId);
        
        Cancel();
    }

    void Cancel()
    {
        NavigationManager.NavigateTo("/courses");
    }
}
